<div class="wrapperPortfolio">
  <h1>Portfolio</h1>
  <div class="elementPortfolio">
    @for (element of SectionElement; track $index) {
      <h3
        (click)="changeSection(element)"
        class="{{ activeSection === element ? 'activeElement' : '' }}"
      >
        {{ element }}
      </h3>
    }
  </div>
  <div class="wrapperObject">
    @for (item of element; track item.documentId) {
      @if (activeSection === '') {
        <app-portfolio-item [data]="item" />
      }

      @if (item.sectionName === activeSection) {
        <app-portfolio-item [data]="item" />
      }
    }
  </div>
</div>
