<div class="wrapperAboutUs">
  <div class="elementsAboutUs">
    @for (items of information; track items.name) {
      <div
        (click)="Activated(items.name)"
        class=" itemAboutUs {{
          elementActive === items.name ? 'activeItemAboutUs' : ''
        }}"
      >
        <p>{{ items.icon }}</p>
      </div>
    }
  </div>
  <div class="descriptionAboutUs">
    @for (items of information; track items.name) {
      @if (items.name === elementActive) {
        <p>{{ items.description }}</p>
      }
    }
  </div>
</div>
