<div class="logoTrustUs">
  <div class="elementLogo">
    @for (item of dataComent; track $index) {
      <div
        (click)="takeElement(item.name)"
        class="logoElement {{ aciveElement === item.name ? 'activeEl' : '' }}"
        [style.mask-image]="'url(' + adresURL + item.image.url + ')'"
        [style.transform]="'scale(' + item.sizeLogo + ')'"
      ></div>
    }
  </div>
</div>
<div class="descriptionTrusUs">
  @for (coment of dataComments; track coment.name) {
    <p>{{ coment.description }}</p>
  }
</div>
<div class="wrapperButton">
  <app-button-action
    [actionButtonText]="'Zerknij'"
    [actionButton]="'#trust-us'"
  />
</div>
