<div class="logoTrustUs">
  <div class="elementLogo">
    @for (item of dataComent; track $index) {
      <i
        (click)="changeElementActive(item.icon)"
        class="{{ item.icon }} IconTrust  {{
          item.sizeIcon === 'big' ? 'bigIcon' : ''
        }}
{{ item.icon === elementActive ? 'activeTrust' : '' }}"
      ></i>
    }
  </div>
</div>
<div class="descriptionTrusUs">
  @for (item of dataComents; track $index) {
    @if ($index === commentsChose) {
      <!--      <div-->
      <!--        class="avatarIcon"-->
      <!--        style="background-image: url('{{ item.photoURL }}')"-->
      <!--      ></div>-->
      <p>
        {{ item.description }}
      </p>
    }
  }
</div>
<div class="sizeComments">
  @for (item of [].constructor(commentsLength); track $index) {
    <div
      (click)="changeNumberComent($index)"
      class="numberOfComment {{
        $index === commentsChose ? 'activeNumberComment' : ''
      }}"
    ></div>
  }
</div>
<div class="wrapperButton">
  <app-button-action
    [actionButtonText]="'Zerknij'"
    [actionButton]="'#trust-us'"
  />
</div>
