//colors

$mainColor: #414141
$mainColor-dark: #353535
$secondColor: #BFDD06
$secondColor-dark: #9fb804
$textColor: #EFEFEF
$thirdColor: #D9D9D9
//$secondColor: #ff9700
//$secondColor-dark: #ac6600

//size

$fontMain: 2.5rem



//Size screen

$desctopMain: 1440px


//margin between section
$marginSection: 8rem


//scale
$scaleBackground: 4
$scaleContent: $scaleBackground / ($scaleBackground * $scaleBackground)
