@import "variables"


.navWrapper
  display: flex
  gap: 5rem
  width: 100%
  justify-content: center
  align-items: center


  & > p
    font-size: 1.5rem
    font-weight: 600
    letter-spacing: 2px
    text-transform: uppercase
    cursor: pointer

    &:hover
      color: $secondColor


.activeItem
  color: $secondColor


