<div class="politicWrapper">
  <h1>Polityka prywatności</h1>

  <!--  Postanowienia ogólne-->
  <div class="elementSection">
    <h2>Postanowienia ogólne</h2>
    <ol>
      <li>
        Polityka prywatności określa, jak zbierane, przetwarzane i przechowywane
        są dane osobowe Użytkowników niezbędne do świadczenia usług drogą
        elektroniczną za pośrednictwem serwisu internetowego fora-poligrafia.pl
        lub www.fora-poligrafia.pl (dalej: Serwis).
      </li>
      <li>
        Serwis zbiera wyłącznie dane osobowe niezbędne do świadczenia i rozwoju
        usług w nim oferowanych
      </li>
      <li>
        Dane osobowe zbierane za pośrednictwem Serwisu są przetwarzane zgodnie z
        Rozporządzeniem Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27
        kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z
        przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich
        danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o
        ochronie danych, dalej RODO) oraz ustawą o ochronie danych osobowych z
        dnia 10 maja 2018 r.
      </li>
    </ol>
  </div>

  <!--  Administrator danych-->
  <div class="elementSection">
    <h2>Administrator danych</h2>
    <ol>
      <li>
        Administratorem danych osobowych zbieranych poprzez Serwis jest FORA
        Damian Rabiński, adres: ul. Sikorskiego 5c, 05-119 Łajski, NIP:
        536-19-41-034, REGON: 383446058, adres poczty elektronicznej:
        <a href="mailto:damian.rabinski@fora-polgirafia.pl"
          >damian.rabinski&#64;fora-poligrafia.pl</a
        >
        (dalej: Administrator).
      </li>
    </ol>
  </div>

  <!--  Cel zbierania danych osobowych-->
  <div class="elementSection">
    <h2>Cel zbierania danych osobowych</h2>
    <ol>
      <li>
        Podanie danych przez użytkownika jest dobrowolne, ale niezbędne do
        skorzystania z funkcjonalności Serwisu
      </li>
      <li>
        Dane które są zbierane za pośrednictwem Serwisu:
        <ol type="a">
          <li>Komunikacja z Użytkownikiem poprzez formularz kontaktowy</li>
          <li>Działania analityczne i statystyczne</li>
          <li>Prowadzenie systemu komentarzy</li>
          <li>Świadczenie usług społecznościowych</li>
          <li>
            Wysyłka newsletteru (po wyrażeniu zgody Użytkownika na jego
            otrzymywanie)
          </li>
        </ol>
      </li>
    </ol>
  </div>

  <!--  Rodzaj przetwarzania danych osobowych-->
  <div class="elementSection">
    <h2>Rodzaj przetwarzanych danych osobowych</h2>
    <ol>
      <li>
        Serwis realizuje funkcje pozyskiwania informacji o użytkownikach i ich
        zachowaniu w następujący sposób
        <ol type="a">
          <li>
            Poprzez dobrowolne wprowadzenie danych w formularzu takich jak:
            <ol type="i">
              <li>Imię</li>
              <li>Nr telefonu</li>
              <li>Adres email</li>
            </ol>
          </li>
          <li>
            Poprzez zapisywanie w urządzeniach końcowych plików cookie (tzw
            „ciasteczka”)
          </li>
          <li>
            Poprzez kontakt drogą elektroniczną (poczta elektroniczna)
            <ol type="i">
              <li>Adres email</li>
            </ol>
          </li>
        </ol>
      </li>
    </ol>
  </div>

  <!--  Metody ochrony danych stosowane przez operatora-->
  <div class="elementSection">
    <h2>Metody ochrony danych stosowane przez Operatora</h2>
    <ol>
      <li>
        Miejsca wprowadzania danych osobowych są chronione w warstwie transmisji
        (certyfikat SSL), dzięki czemu dane osobowe są szyfrowane w komputerze
        użytkownika i mogą być odczytane jedynie w docelowym serwerze.
      </li>
      <li>Operator okresowo zmienia hasła administracyjne</li>
    </ol>
  </div>

  <!--  Okres przetwarzania danych osobowych-->
  <div class="elementSection">
    <h2>Okres przetwarzania danych osobowych</h2>
    <ol>
      <li>
        Gdy podstawą przetwarzania danych jest wykonanie umowy – do momentu
        przedawnienia roszczeń po jej wykonaniu.
      </li>
      <li>
        Gdy podstawą przetwarzania danych jest zgoda – do momentu jej odwołania,
        a po odwołaniu zgody do przedawnienia roszczeń.
      </li>
      <li>
        W obu przypadkach termin przedawnienia wynosi 6 lat, a dla roszczeń o
        świadczenia okresowe i roszczeń dotyczących prowadzenia działalności
        gospodarczej – 3 lata (jeśli przepis szczególny nie stanowi inaczej).
      </li>
    </ol>
  </div>

  <!--Narzędzia wykorzystywane przez Operatora-->
  <div class="elementSection">
    <h2>Narzędzia wykorzystywane przez Operatora</h2>
    <ol>
      <li>
        Serwis utrzymywany jest na serwerach poniższych firm:
        <ol type="a">
          <li>
            LH.pl – na serwerach hostingowych utrzymywany jest serwis (frontend
            - wersja wizualna użytkownika), jak również baza danych dotycząca
            mailingu
          </li>
          <li>
            DigitalOcean – na serwerach utrzymywany jest serwis (backend –
            wersja serwerowa) wykorzystana do poprawnego działania formularzy
            kontaktowych, pliku cookies, uwierzytelniania użytkownika, bazy
            danych dotyczące newsletteru.
          </li>
        </ol>
      </li>
    </ol>
  </div>

  <!--  Udostępnianie danych osobowych-->
  <div class="elementSection">
    <h2>Udostępnianie danych osobowych</h2>
    <ol>
      <li>
        Dane osobowe użytkowników są przetwarzane wyłącznie w celu zapewnienia
        optymalnego funkcjonowania serwisu. Gromadzone i udostępniane informacje
        obejmują:
        <ol type="a">
          <li>Adres e-mail</li>
          <li>Numer telefonu</li>
          <li>Imię</li>
        </ol>
        Dane te służą do komunikacji z użytkownikami i są przechowywane w bazach
        mailingowych, gdyż są przesyłane za pośrednictwem formularza drogą
        mailową do firmy, aby wspierać skuteczne świadczenie usług.
      </li>
      <li>
        Utrzymujemy bazę danych adresów e-mail oraz imion użytkowników w celu
        prowadzenia systemu newsletterowego. Celem newslettera jest informowanie
        użytkowników o nowościach, aktualizacjach oraz kluczowych wydarzeniach
        związanych z działalnością serwisu, wspierając w ten sposób budowanie
        długoterminowej relacji z odbiorcami.
      </li>
      <li>
        Dane osobowe użytkowników mogą być udostępniane firmie Google w ramach
        korzystania z usługi Google Analytics w następujących celach:
        <ol type="a">
          <li>Monitorowanie statystyk odwiedzin strony</li>
          <li>Analiza ruchu na stronie</li>
        </ol>
        Przetwarzane dane wspierają proces optymalizacji oraz rozwój bardziej
        intuicyjnej i przyjaznej dla użytkownika struktury strony internetowej,
        co sprzyja lepszemu doświadczeniu użytkowników i dostosowaniu usług do
        ich potrzeb.
      </li>
      <li>
        Usługi hostingowe są świadczone przez:
        <ol type="a">
          <li>
            Firmę LH.pl, która zapewnia przechowywanie baz danych mailingowych
          </li>
          <li>
            Serwer Digital Ocean, na którym działa backend serwisu, gwarantując
            nieprzerwane i bezpieczne działanie infrastruktury technologicznej
          </li>
        </ol>
      </li>
      <li>
        Firma FORA Damian Rabiński nie przekazuje danych osobowych użytkowników
        żadnym innym podmiotom w celach zarobkowych. Dane użytkowników są
        udostępniane wyłącznie podmiotom wskazanym w polityce prywatności, co
        jest niezbędne dla prawidłowego działania serwisu.
      </li>
    </ol>
  </div>

  <!--  Prawa Użytkownika-->
  <div class="elementSection">
    <h2>Prawa Użytkowników</h2>
    <ol>
      <li>
        Użytkownik Serwisu ma prawo do:
        <ol type="a">
          <li>dostępu do swoich danych osobowych</li>
          <li>
            sprostowania wszelkich nieścisłości dotyczących swoich danych
            osobowych,
          </li>
          <li>
            usunięcia swoich danych osobowych (tzw. prawo do bycia zapomnianym),
          </li>
          <li>
            ograniczenia przetwarzania swoich danych osobowych w określonych
            przypadkach,
          </li>
          <li>przenoszenia danych osobowych do innego administratora,</li>
          <li>
            wniesienia sprzeciwu wobec przetwarzania danych osobowych w
            sytuacjach, gdy przetwarzanie odbywa się na podstawie uzasadnionego
            interesu Administratora,
          </li>
          <li>
            cofnięcia zgody na przetwarzanie danych osobowych w dowolnym
            momencie, co nie wpływa na zgodność z prawem przetwarzania
            dokonanego przed cofnięciem zgody.
          </li>
        </ol>
      </li>
      <li>
        W celu realizacji uprawnień wynikających z powyższych praw, Użytkownik
        powinien przesłać stosowne zgłoszenie na adres:
        <a href="mailto:damian.rabinski@fora-poligrafia.pl"
          >damian .rabinski&#64;fora-poligrafia.pl </a
        >.
      </li>
      <li>
        Administrator, po otrzymaniu zgłoszenia, zobowiązuje się do jego
        rozpatrzenia oraz spełnienia lub odmowy spełnienia żądania bez zbędnej
        zwłoki, jednak nie później niż w terminie jednego miesiąca od dnia jego
        otrzymania.
      </li>
      <li>
        Użytkownik ma prawo złożyć skargę do Prezesa Urzędu Ochrony Danych
        Osobowych, jeżeli uzna, że przetwarzanie jego danych osobowych narusza
        przepisy prawa, w szczególności Rozporządzenia Ogólnego o Ochronie
        Danych Osobowych (RODO).
      </li>
    </ol>
  </div>
  <!--  Pliki Cookies-->
  <div class="elementSection">
    <h2>Pliki cookies</h2>
    <ol>
      <li>
        Serwis wykorzystuje pliki cookies, które stanowią dane informatyczne, w
        szczególności pliki tekstowe, przechowywane na urządzeniu końcowym
        Użytkownika. Pliki cookies pełnią kluczową rolę w prawidłowym
        funkcjonowaniu Serwisu, umożliwiając m.in. identyfikację sesji
        Użytkownika. Zawierają zazwyczaj informacje takie jak nazwa strony
        internetowej, z której pochodzą, czas przechowywania na urządzeniu oraz
        unikalny identyfikator.
      </li>
      <li>
        Podmiotem odpowiedzialnym za umieszczanie plików cookies na urządzeniu
        końcowym Użytkownika oraz za uzyskiwanie do nich dostępu jest operator
        Serwisu.
      </li>
      <li>
        Pliki cookies wykorzystywane są w następujących celach:
        <ol type="a">
          <li>
            Utrzymanie sesji Użytkownika po zalogowaniu, co umożliwia
            bezproblemowe korzystanie z Serwisu bez konieczności każdorazowego
            wpisywania loginu i hasła na każdej podstronie,
          </li>
          <li>
            Prowadzenie analiz statystycznych dotyczących korzystania z Serwisu,
            w tym analiz wspieranych przez narzędzie Google Analytics, co
            pozwala na optymalizację funkcjonalności i dostosowanie Serwisu do
            potrzeb Użytkowników,
          </li>
          <li>
            Realizacja działań marketingowych, w tym współpraca z zewnętrznymi
            podmiotami, takimi jak Google, Meta Platforms (Facebook) czy
            Twitter, celem dostosowania przekazu reklamowego do zainteresowań
            Użytkownika.
          </li>
        </ol>
      </li>
      <li>
        Serwis stosuje dwa rodzaje plików cookies: sesyjne (session cookies)
        oraz stałe (persistent cookies). Pliki sesyjne są tymczasowe i
        przechowywane na urządzeniu Użytkownika do momentu wylogowania,
        opuszczenia strony internetowej lub zamknięcia przeglądarki. Pliki stałe
        są natomiast przechowywane przez określony czas wskazany w parametrach
        pliku lub do chwili ich ręcznego usunięcia przez Użytkownika.
      </li>
      <li>
        Przeglądarki internetowe domyślnie umożliwiają przechowywanie plików
        cookies na urządzeniu końcowym Użytkownika. Użytkownicy mają jednak
        możliwość zmiany tych ustawień, w tym całkowitego zablokowania obsługi
        plików cookies lub ich usunięcia. Szczegółowe informacje na temat
        zarządzania plikami cookies znajdują się w instrukcjach obsługi
        przeglądarki lub jej dokumentacji.
      </li>
      <li>
        Ograniczenie stosowania plików cookies może wpłynąć na pełną
        funkcjonalność Serwisu i spowodować trudności w korzystaniu z niektórych
        jego usług.
      </li>
      <li>
        Pliki cookies zamieszczane na urządzeniu końcowym Użytkownika mogą być
        także wykorzystywane przez podmioty współpracujące z operatorem Serwisu,
        w szczególności takie jak Google LLC (USA), Meta Platforms, Inc.
        (Facebook, USA) oraz Twitter, Inc. (USA).
      </li>
    </ol>
  </div>
  <!--  Zautomatyzowanie podejmowania decyzji i progilowanie-->
  <div class="elementSection">
    <h2>Zautomatyzowane podejmowanie decyzji i profilowanie</h2>
    <ol>
      <li>
        Serwis nie stosuje zautomatyzowanego podejmowania decyzji, w tym
        profilowania, w celu przygotowywania treści personalizowanych dla
        Użytkowników. Dane osobowe nie są wykorzystywane do podejmowania żadnych
        zautomatyzowanych decyzji mających na celu dostosowanie treści do
        preferencji Użytkownika.
      </li>
      <li>
        Wszelkie dane osobowe przetwarzane w ramach Serwisu są wykorzystywane
        wyłącznie w celu zapewnienia prawidłowego funkcjonowania usług oraz ich
        optymalizacji zgodnie z obowiązującymi przepisami prawa.
      </li>
    </ol>
  </div>
  <!--  Postatnowienia końcowe-->
  <div class="elementSection">
    <h2>Postanowienia końcowe</h2>
    <ol>
      <li>
        Niniejsza Polityka Prywatności obowiązuje od dnia jej opublikowania na
        stronie Serwisu i jest na bieżąco aktualizowana przez Administratora w
        celu dostosowania jej do zmieniających się przepisów prawa oraz rozwoju
        funkcjonalności Serwisu.
      </li>
      <li>
        Administrator zastrzega sobie prawo do wprowadzania zmian w Polityce
        Prywatności, przy czym wszelkie zmiany wchodzą w życie w momencie ich
        opublikowania w Serwisie, o czym Użytkownik będzie informowany poprzez
        odpowiedni komunikat.
      </li>
      <li>
        W przypadku pytań, wątpliwości lub żądań związanych z przetwarzaniem
        danych osobowych, Użytkownik może skontaktować się z Administratorem za
        pośrednictwem adresu e-mail:
        <a href="mailto:damian.rabinski@fora-poligrafia.pl"
          >damian .rabinski&#64;fora-poligrafia.pl </a
        >.
      </li>
      <li>
        Niniejsza Polityka Prywatności ma charakter informacyjny i nie stanowi
        żadnej umowy ani zobowiązania wobec Użytkowników Serwisu. Służy
        wyłącznie zapewnieniu przejrzystości w zakresie przetwarzania danych
        osobowych przez Administratora.
      </li>
      <li>
        Administrator dokłada wszelkich starań, aby zapewnić wysoki poziom
        ochrony danych osobowych, w zgodzie z obowiązującymi przepisami
        prawnymi, jednak nie ponosi odpowiedzialności za ewentualne
        nieautoryzowane dostępy lub naruszenia danych wynikające z przyczyn
        niezależnych od niego, takich jak działania hakerów lub inne formy
        naruszeń, które nie mogły zostać przewidziane i uniknięte pomimo
        stosowania odpowiednich środków ochrony.
      </li>
      <li>
        Użytkownicy zobowiązani są do regularnego zapoznawania się z aktualną
        wersją Polityki Prywatności, aby być świadomymi ewentualnych zmian oraz
        zasad, na podstawie których przetwarzane są ich dane osobowe.
      </li>
    </ol>
  </div>
</div>
