<div class="wrapperAboutUs" id="about">
  <div class="elementsAboutUs">
    @for (items of sortInformation; track items.name) {
      @if (items.isActive) {
        <div
          (click)="Activated(items.name)"
          class=" itemAboutUs {{
            elementActive === items.name ? 'activeItemAboutUs' : ''
          }}"
        >
          <i [class]="items.iconAddress"></i>
        </div>
      }
    }
  </div>

  <div class="descriptionAboutUs">
    @for (items of sortInformation; track items.name) {
      @if (items.name === elementActive) {
        <span [hidden]="!items.isActive" class="informationHeader">{{
          items.name
        }}</span>
        <p [hidden]="!items.isActive">{{ items.description }}</p>
      }
    }
  </div>
</div>
