@import "variables"

.wrapperAboutUs
  width: 80%
  margin: $marginSection auto
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  gap: 3rem


.elementsAboutUs
  display: flex
  align-items: center
  justify-content: center



  & > .itemAboutUs
    width: 7rem
    height: 10rem
    margin: 0 3rem
    background-color: $textColor
    border-radius: 2rem
    color: $mainColor
    display: flex
    justify-content: center
    align-items: center
    transform: skewY(-8deg)
    transition: all .2s ease-in-out
    cursor: pointer

    & > i
      transform: skewY(8deg)
      font-size: 3rem

    &:hover
      transform: scale(1.7) skewY(-8deg)
      background-color: $secondColor
    &:active
      transform: scale(1.5) skewY(-8deg)
      background-color: $secondColor


  & .activeItemAboutUs
      background-color: $secondColor
      transform: scale(1.7) skewY(-8deg)
      box-shadow: 0 0 2rem .5em rgba($secondColor-dark,.4)



.descriptionAboutUs
  width: 80%
  min-height: 30rem
  display: flex
  flex-direction: column
  justify-content: start
  align-items: center
  margin-top: 2rem



  & > p
    font-size: 1.8rem
    text-align: justify
    letter-spacing: 2px
    line-height: 4rem


  & > .informationHeader
    font-size: 2.5rem
    text-transform: uppercase
    padding: 2rem 0
    letter-spacing: 2px
    font-weight: 600



