<div class="contentWrapper {{ activePopup ? 'hiden' : '' }}">
  @for (item of data; track $index) {
    @if (item.activeElement) {
      <div class="contentElement">
        <div class="contentDescription">
          <p>
            {{ item.description }}
          </p>
        </div>
        @if (item.moreInfor) {
          <p (click)="openPopUP(item.name, item.documentId)" class="showMore">
            czytaj wiecej
          </p>
        }

        <!--        <a [routerLink]="item.name" class="showMore">czytaj wiecej</a>-->

        @if (item.image) {
          <div
            class="contentPhoto"
            style="background-image: url({{ imgURL }}{{ item.image[0].url }})"
          >
            <p>
              {{ item.name }}
            </p>
          </div>
        } @else {
          <div class="contentPhoto">
            <p>
              {{ item.name }}
            </p>
          </div>
        }
      </div>
    }
  }

  <app-button-action
    [actionButtonText]="'Sprawdź'"
    [actionButton]="'#Portfolio'"
  />
</div>
