<div class="contentWrapper">
  @for (item of data; track $index) {
    @if (item.activeElement) {
      <div class="contentElement">
        <p class="contentDescription">
          {{ item.description }}
        </p>
        @if (item.image) {
          <div
            class="contentPhoto"
            style="background-image: url({{ imgURL }}{{ item.image[0].url }})"
          >
            <p>
              {{ item.name }}
            </p>
          </div>
        } @else {
          <div class="contentPhoto">
            <p>
              {{ item.name }}
            </p>
          </div>
        }
      </div>
    }
  }
  <app-button-action
    [actionButtonText]="'Sprawdź'"
    [actionButton]="'#Portfolio'"
  />
</div>
