@import "variables"

.contentWrapper
  width: 95%
  margin: 2rem auto
  padding: 2rem
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: auto 1fr
  gap: 6rem


.contentElement
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-template-rows: 30rem
  gap: 1rem
  justify-content: center
  align-items: center

  &:nth-child(odd) .contentPhoto
    grid-column: 3 / span 1
    grid-row: 1 / span 1

  &:nth-child(odd) .contentDescription
    grid-column: 1 / span 2
    grid-row: 1 / span 1


  &:nth-child(even) .contentPhoto
    grid-column: 1 / span 1
    grid-row: 1 / span 1

  &:nth-child(even) .contentDescription
    grid-column: 2 / span 2
    grid-row: 1 / span 1

  & > .contentDescription
    height: 100%
    font-size: 2rem
    letter-spacing: 2px
    text-align: justify
    line-height: 3rem
    overflow: scroll
    padding: 0 2rem
    cursor: default
    user-select: none

  & > .contentPhoto
    width: 100%
    height: 100%
    background-color: $secondColor
    background-size: cover
    background-position: center
    border-radius: 3rem
    display: flex
    justify-content: center
    align-items: center



    & > p
      font-size: 3rem
      text-transform: uppercase
      display: flex
      width: 100%
      height: 100%
      justify-content: center
      align-items: center
      padding: 2rem 0
      background-color: rgba($mainColor,.6)
      cursor: default
      user-select: none
      text-align: center


