@import "variables"

.show
  display: flex

.hide
  display: none

.wrapperNavigation
  width: 60%
  height: 4rem
  background-color: $secondColor
  border-radius: 4rem
  position: fixed
  z-index: 900
  left: 50%
  top: 2rem
  transform: translateX(-50%)
  align-items: center
  justify-content: space-between
  padding: 0 2rem
  box-shadow: 0 0 2rem 1rem $mainColor-dark


.navUp
  font-size: 3rem
  color: $mainColor
  cursor: pointer
