<div class="wrapperNavigation {{ disable ? 'show' : 'hide' }}">
  <i (click)="scrollToTop()" class="fa-regular fa-circle-up navUp"></i>
  <div class="navigationElements">
    @for (items of navigation; track items.name) {
      <li>
        <a (click)="scrollToElement(items.url)">{{ items.name }}</a>
        <div
          class="navCircle {{
            urladdress.slice(2) === items.url ? 'activeURL' : ''
          }}"
        ></div>
      </li>
    }
  </div>
  <i (click)="scrollToTop()" class="fa-regular fa-circle-up navUp"></i>
</div>
